@media screen and (max-width:760px) {

    /* Nav Bar  */

    .logo img {
        height: 30px;
        margin-top: 30px;
        margin-left: 70px;
    }

    .nav-list {
        display: none;
    
    }
    .nav-list li{
        font-size: 20px;
    }

    .nav-list li img  {
        height: 10px;
    }

  /* Hero Section  */


  .hero-section {
    flex-direction: column;
    margin-left: -50px;
  }

  .hero-left  img {
    width: 300px;
  }

  .hero-right  {
  margin-top: 30px;
  margin-left: 10px;

  }

  .hero-right  h4  {
    font-size: 20px;
  }

  .hero-right  h1 {
    font-size: 40px;
  }

  .hero-right p {
    font-size: 15px;
    width: 300px;
  }

  .hero-right button  {
    padding: 10px 20px;
    font-size: 10px;
  }

/* Section-1  */

.cards {
    gap: 20px;
    flex-direction: column;
    margin-top: -20px;
}

.card {
    height: 320px;
    width: 300px;
}

.card img {
    width: 40px;
    margin-left: 30px;
    margin-top: 40px;
}

.card h4 {
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.card p  {
    width: 250px;
    font-size: 15px;
    margin-left: 30px;
}

.card a  {
    margin-left: 30px;
    font-size: 15px;
}

.analytics {
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.a-left h1 {
    font-size: 70px;
}

.a-left h4 {
    font-size: 30px;
}

.a-right  {
    gap: 10px;
}

.a-card  {
    padding: 15px;
    width: 150px;
}

.a-card h4 {
    font-size: 30px;
}

.a-card p {
    font-size: 15px;
}

/* Section-2  */ 

.section-2  {
    margin-top: 50px;
    margin-left: -50px;
}

.sec-2-head {
    flex-direction: column;
    margin-left: 380px;
}
.sec-2-head h1 {

    width: 500px;
    font-size: 35px;
}

.sec-2-head p  {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    margin-left: -120px;
}

.sec-2-head  button {
    margin-top: 20px;
    font-size: 15px;
    padding: 9px 40px;
    margin-left: -150px;
}

.sec-2-cards {
    gap: 30px;
align-items: center;
margin-left: 130px;
}

sec-2-card {
    width: 100px;
}
.sec-2-cards img {
    width: 320px;
    padding: 40px 15px;
}

.sec-2-cards h4 {
    font-size: 20px;
    margin-top: 5px;
}

.sec-2-cards a  {
    font-size: 15px;
    margin-top: 20px;
}

/* Section-3  */

.section-3 {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 210px;
    margin-top: 90px;
    padding: 40px 20px;
    width: 350px;
    gap: 100px;
}

.s-3-left h1 {
    font-size: 30px;
    margin-top: -20px;
    margin-left: 20px;
    width: 300px;

}


.s-3-left p {
    width: 300px;
    margin-top: 12px;
    margin-left: 20px;
}

.section-3 button  {
    font-size: 15px;
    padding: 9px 23px;
    margin-top: -80px;
    margin-left: 200px;
}


/* Footer  */  

footer div {
    gap: 20px;
    margin-top: 50px;
    font-size: 15px;
}

.socialmedia img  {
    height: 25px;
    margin-left: -100px;
}





}

